<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM Sorter</title>
    <!-- Add a favicon link -->
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <div id="app" class="container mt-5 text-center">
      <div class="header-container">
        <h1 class="text-center mb-5 ez-header"><span class="ez-highlight">Ez</span> MM Work Order Entry</h1>
      </div>

      <!-- Centered container for input groups and button -->
      <div class="centered-container">
        <div class="input-wrapper d-flex justify-content-center align-items-center">
          <!-- Input Group 1 (left) -->
          <div class="input-group input-group-left">
            <textarea autofocus id="inputData" class="form-control rounded" rows="5" placeholder="Paste data from excel, or enter one number per line"></textarea
          </div>

          <!-- Button in the middle -->
          <div class="button-container">
            <button id="runButton" class="btn btn-beige rounded">
              Run Function
            </button>
          </div>

          <!-- Input Group 2 (right) -->
          <div class="input-group input-group-right">
            <textarea id="outputData" class="form-control rounded" rows="5" readonly></textarea>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/scripts.js"></script>
  </body>
</html>
